IMRADFDEV/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "IMRADFDEV"
		},
		"CashDataTarget_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'CashDataTarget'"
		},
		"APISource_ADLSgen2_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'APISource_ADLSgen2'"
		},
		"CashDataPrem_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'CashDataPrem'"
		},
		"AzureSql_ADFLogs_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "imrstockbondvalue.database.windows.net"
		},
		"AzureSql_ADFLogs_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "IMRStockBondsValue"
		},
		"TestLinkAPI_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://www.alphavantage.co"
		},
		"APISource_ADLSgen2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://imrdatalakedev.dfs.core.windows.net/"
		},
		"CashDataPrem_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "C:\\Users\\IMRaposo\\Documents\\Az203\\Data"
		},
		"CashDataPrem_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "IMRaposo"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/TestAlert')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "pipelineReturnValue",
							"value": [
								{
									"key": "TestAlert1",
									"value": {
										"type": "Int",
										"content": []
									}
								}
							],
							"setSystemVariable": true
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSql_ADFLogs')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('AzureSql_ADFLogs_properties_typeProperties_server')]",
					"database": "[parameters('AzureSql_ADFLogs_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SystemAssignedManagedIdentity"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CashDataTarget')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('CashDataTarget_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/InvestmentCashFlow')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TestLinkAPI')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('TestLinkAPI_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/APISource_ADLSgen2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('APISource_ADLSgen2_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('APISource_ADLSgen2_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSql_ADFLogs')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSql_ADFLogs",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "LogId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PipelineName",
						"type": "varchar"
					},
					{
						"name": "PipelineRunID",
						"type": "varchar"
					},
					{
						"name": "StartTime",
						"type": "datetime2",
						"scale": 0
					},
					{
						"name": "EndTime",
						"type": "datetime2",
						"scale": 0
					},
					{
						"name": "DurationSeconds",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Inserts",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Updates",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Deletes",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ErrorMessage",
						"type": "varchar"
					},
					{
						"name": "StatusMessage",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "Logging",
					"table": "PipelineLogs"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSql_ADFLogs')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CashDataAzure')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CashDataTarget",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@concat('CashStatements_', formatDateTime(utcNow(), 'ddMMyyyy'), '.csv')",
							"type": "Expression"
						},
						"folderPath": "Project 1 - Dividends",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CashDataTarget')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CashDataPrem')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('CashDataPrem_properties_typeProperties_host')]",
					"userId": "[parameters('CashDataPrem_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('CashDataPrem_password')]"
					}
				},
				"connectVia": {
					"referenceName": "InvestmentCashFlow",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/InvestmentCashFlow')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/APiDataSet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TestLinkAPI",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": "/query?function=INCOME_STATEMENT&symbol={'OZK'}&apikey={'XA85RWESU891KKD3'}"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/TestLinkAPI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/API_Json1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "APISource_ADLSgen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "apiDatTest.json",
						"folderPath": "apiData",
						"fileSystem": "bronze"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/APISource_ADLSgen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CashDataPrem')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CashDataPrem",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": {
							"value": "cashstatements_150924.csv",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Date",
						"type": "String"
					},
					{
						"name": "Description",
						"type": "String"
					},
					{
						"name": "Reference",
						"type": "String"
					},
					{
						"name": "Settlement date",
						"type": "String"
					},
					{
						"name": "Receipt (GBP)",
						"type": "String"
					},
					{
						"name": "Payment (GBP)",
						"type": "String"
					},
					{
						"name": "Balance (GBP)",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CashDataPrem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TestApiIngest')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IngestDataFromAPI",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "APiDataSet",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "API_Json1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/APiDataSet')]",
				"[concat(variables('factoryId'), '/datasets/API_Json1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CP_CashStatements')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CP_CashDataPrem",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "InsertLog",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CashDataPrem",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "CashDataAzure",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "InsertLog",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[Logging].[InsertLogs]",
								"storedProcedureParameters": {
									"Deletes": {
										"type": "Int32",
										"value": null
									},
									"DurationSeconds": {
										"type": "Int32",
										"value": null
									},
									"EndTime": {
										"type": "DateTime",
										"value": null
									},
									"ErrorMessage": {
										"type": "String",
										"value": null
									},
									"Inserts": {
										"type": "Int32",
										"value": null
									},
									"PipelineName": {
										"type": "String",
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									},
									"PipelineRunID": {
										"type": "String",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									"StartTime": {
										"type": "DateTime",
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										}
									},
									"StatusMessage": {
										"type": "String",
										"value": null
									},
									"Updates": {
										"type": "Int32",
										"value": null
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSql_ADFLogs",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "SucessLogs",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CP_CashDataPrem",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Logging].[UpdateLogs]",
							"storedProcedureParameters": {
								"Deletes": {
									"value": null,
									"type": "Int32"
								},
								"DurationSeconds": {
									"value": {
										"value": "@activity('CP_CashDataPrem').output.copyDuration",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"EndTime": {
									"value": {
										"value": "@utcNow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": null,
									"type": "String"
								},
								"Inserts": {
									"value": {
										"value": "@activity('CP_CashDataPrem').output.filesWritten",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"LogId": {
									"value": {
										"value": "@activity('InsertLog').output.firstRow.LogId",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"StatusMessage": {
									"value": {
										"value": "@activity('CP_CashDataPrem').output.executionDetails[0].status",
										"type": "Expression"
									},
									"type": "String"
								},
								"Updates": {
									"value": null,
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSql_ADFLogs",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "FailedLogs",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CP_CashDataPrem",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Logging].[UpdateLogs]",
							"storedProcedureParameters": {
								"Deletes": {
									"value": null,
									"type": "Int32"
								},
								"DurationSeconds": {
									"value": {
										"value": "@activity('CP_CashDataPrem').output.copyDuration",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"EndTime": {
									"value": {
										"value": "@utcNow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": {
										"value": "@activity('CP_CashDataPrem').output.errors[0].Message",
										"type": "Expression"
									},
									"type": "String"
								},
								"Inserts": {
									"value": {
										"value": "@activity('CP_CashDataPrem').output.filesWritten",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"LogId": {
									"value": {
										"value": "@activity('InsertLog').output.firstRow.LogId",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"StatusMessage": {
									"value": {
										"value": "@activity('CP_CashDataPrem').output.executionDetails[0].status",
										"type": "Expression"
									},
									"type": "String"
								},
								"Updates": {
									"value": null,
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSql_ADFLogs",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CashDataPrem')]",
				"[concat(variables('factoryId'), '/datasets/CashDataAzure')]",
				"[concat(variables('factoryId'), '/datasets/AzureSql_ADFLogs')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureSql_ADFLogs')]"
			]
		}
	]
}