pipeline/CP_CashStatements.json
{
	"name": "CP_CashStatements",
	"properties": {
		"activities": [
			{
				"name": "CP_CashDataPrem",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "InsertLog",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "FileServerReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "CashDataPrem",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "CashDataAzure",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "InsertLog",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[Logging].[InsertLogs]",
						"storedProcedureParameters": {
							"Deletes": {
								"type": "Int32",
								"value": null
							},
							"DurationSeconds": {
								"type": "Int32",
								"value": null
							},
							"EndTime": {
								"type": "DateTime",
								"value": null
							},
							"ErrorMessage": {
								"type": "String",
								"value": null
							},
							"Inserts": {
								"type": "Int32",
								"value": null
							},
							"PipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"PipelineRunID": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"StartTime": {
								"type": "DateTime",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							},
							"StatusMessage": {
								"type": "String",
								"value": null
							},
							"Updates": {
								"type": "Int32",
								"value": null
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSql_ADFLogs",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SucessLogs",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CP_CashDataPrem",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Logging].[UpdateLogs]",
					"storedProcedureParameters": {
						"Deletes": {
							"value": null,
							"type": "Int32"
						},
						"DurationSeconds": {
							"value": {
								"value": "@activity('CP_CashDataPrem').output.copyDuration",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"EndTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"Inserts": {
							"value": {
								"value": "@activity('CP_CashDataPrem').output.filesWritten",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"LogId": {
							"value": {
								"value": "@activity('InsertLog').output.firstRow.LogId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"StatusMessage": {
							"value": {
								"value": "@activity('CP_CashDataPrem').output.excutionDetails[0].status",
								"type": "Expression"
							},
							"type": "String"
						},
						"Updates": {
							"value": null,
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSql_ADFLogs",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "FailedLogs",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CP_CashDataPrem",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Logging].[UpdateLogs]",
					"storedProcedureParameters": {
						"Deletes": {
							"value": null,
							"type": "Int32"
						},
						"DurationSeconds": {
							"value": {
								"value": "@activity('CP_CashDataPrem').output.copyDuration",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"EndTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('CP_CashDataPrem').output.errors[0].Message",
								"type": "Expression"
							},
							"type": "String"
						},
						"Inserts": {
							"value": {
								"value": "@activity('CP_CashDataPrem').output.filesWritten",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"LogId": {
							"value": {
								"value": "@activity('InsertLog').output.firstRow.LogId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"StatusMessage": {
							"value": {
								"value": "@activity('CP_CashDataPrem').output.executionDetails[0].status",
								"type": "Expression"
							},
							"type": "String"
						},
						"Updates": {
							"value": null,
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSql_ADFLogs",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}